@charset 'UTF-8';

// // Reset
@import 'components/normalize';
@import 'components/color';
@import 'components/variables';
@import 'components/global';
@import 'components/grid';
@import 'components/typography';
@import 'components/mixins';
// @import 'components/roboto';


@import 'layout';
@import 'swiper';
@import 'content';
@import 'main';
@import 'member';
@import 'button';
@import 'table';
@import 'tab';
@import 'pagination';
@import 'forms/forms';

/* body {
  width: 100px;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}
 */
